body {
.task-list-item  {
    background-color: transparent !important;
    box-shadow:none !important;
    cursor:default !important;
    transition: 0s !important;
text-decoration:none !important;

}

  th {
        display: none !important;
    }

ul.task-list {
    padding-left: 0px !important;
}}
