body {
.task-list-item  {
    background-color: transparent !important;
    box-shadow:none !important;
    cursor:default !important;
    transition: 0s !important;
text-decoration:none !important;

}

  th {
        display: none !important;
    }

ul.task-list {
    padding-left: 0px !important;
}
    
.task-list-item[data-task=x], .task-list-item[data-task=X] {
    color: var(--text-normal) !important;
}

}
